.donation {
  padding-top: 40px;
  .donation__content {
    h1 {
      font-size: 4.5rem;
      color: #333;
      line-height: 60px;
      font-weight: 500;
    }
    .donation__details {
      margin-top: 10px;
      h2 {
        font-size: 22px;
        color: #333;
        font-weight: 400;
        margin: 20px 0;
      }
      h3 {
        margin-top: 10px;
        span {
          margin-right: 15px;
          font-size: 18px;
          font-style: italic;
        }
        display: flex;
        font-size: 18px;
        color: #333;
        font-weight: 400;
      }
    }
  }
  @media (max-width: 700px) {
    h1 {
      font-size: 3.5rem !important;
    }
    h2 {
      font-size: 16px !important;
    }
    h3,
    span {
      font-size: 16px !important;
    }
  }
}
