.contacts {
  padding-top: 40px;
  h1 {
    font-size: 4.5rem;
    color: #333;
    line-height: 60px;
    font-weight: 500;
    text-align: center;
  }
  .contacts__content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 30px;
    padding-left: 30px;
    .contacts__info {
      svg {
        width: 30px;
        height: auto;
        color: var(--eerie-black-2);
      }
      .contacts__item {
        margin-top: 40px;
        h3 {
          color: #000;
          font-size: 20px;
          font-weight: 400;
          margin-left: 5px;
        }
      }
      .contacts__socialNet {
        display: flex;
        margin-top: 20px;
        svg {
          width: 35px;
          margin-left: 20px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
    .contacts__img {
      img {
        width: 670px;
        height: auto;
      }
    }
  }
  @media (max-width: 1100px) {
    .contacts__img {
      img {
        width: 500px !important;
      }
    }
  }

  @media (max-width: 900px) {
    .contacts__content {
      flex-direction: column;
      padding-top: 0px !important;
      padding-left: 00px !important;
      align-items: flex-start !important;
      .contacts__item {
        margin-top: 20px !important;
      }
      .contacts__img {
        img {
          margin-top: 20px;
        }
      }
    }
  }
  @media (max-width: 500px) {
    img {
      max-width: 100% !important;
    }
  }
}
