.news {
  .news__content {
    margin-top: 30px;
    width: 100%;

    h1 {
      font-size: 4.5rem;
      color: #333;
      line-height: 60px;
      font-weight: 500;
    }
    .news__container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      .box {
        margin: 1.5rem;
        border-radius: 0.5rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        overflow: hidden;
        background: #fff;
        max-width: 700px;

        img {
          max-width: 700px;
          height: auto;
          object-fit: cover;
        }
        .content {
          padding: 1.5rem;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          h3 {
            font-size: 30px;
            font-weight: 400;
            color: #000;
            display: block;
            &:hover {
              text-decoration: underline;
            }
          }
          p {
            margin-top: 20px;
            color: #333;
            font-size: 16px;
            overflow: hidden;
          }
          button {
            position: absolute;
            bottom: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .news__container {
    width: 90%;
    .box {
      width: 100%;
      img {
        width: 100%;
      }
      .content {
        h3 {
          font-size: 24px !important;
        }
        p {
          font-size: 12px !important;
        }
      }
    }
  }
}
